<!DOCTYPE html>
<html>
<head>
    <title>ユメタイプキーボード</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .content { margin: 20px; padding: 20px; }
        .qr-code { margin-top: 20px; }
    </style>
</head>
<body>
    <div class="content">
        <p>お問い合わせ、バグ報告：info@tokyo.engineer</p>
        <p>まだリリースされて間もないキーボードアプリなので、あまり知られていませんが、日々使い勝手の良いキーボードを作るために頑張っています。</p>
        <p>よろしくお願いします。</p>
        <p>ユメタイプ日本語キーボードきせかえandroidアプリダウンロード</p>
        <a href = "https://play.google.com/store/apps/details?id=com.yumetype.android">クリックしてダウンロード</a>
        <p>QRコード：</p>
        <div class="qr-code">
            <img src="{{ qr_code_url }}" alt="QR Code">
        </div>
    </div>
</body>
</html>

